.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6 IE7*/
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.list {
  list-style-type: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

button {
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.follow-text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 480px;
  }
  .clients .container {
    padding: 60px 15px;
    width: 100%;
    margin: 0 auto;
  }
  .footer .container {
    padding: 0 15px;
  }
  .team {
    padding: 60px 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
  }
  .about .container {
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .team .container {
    padding: 94px 15px;
  }
  .clients .container {
    padding: 94px 15px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-button-svg {
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .modal-button-svg,
.close-button:focus .modal-button-svg {
  fill: #2196f3;
}

.modal-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__form-wrapper {
  margin: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  /* .modal-field:hover, */
}

.modal-form__user-name, .modal-form__user-phone, .modal-form__user-mail {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__field-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__svg-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field:focus + .modal-form__svg-icon {
  fill: #2196f3;
}

.modal-form__field:focus, .modal-form__text-field:focus {
  border-color: #2196f3;
}

.modal-form__field {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: inherit;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__text-field {
  margin-top: 4px;
  margin-bottom: 20px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: inherit;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__text-field::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__policy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.modal-form__policy-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-form__policy-label::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  display: inline-block;
  border-radius: 4px;
  margin-right: 8px;
}

.modal-form__policy:checked + .modal-form__policy-label::before {
  background-image: url(../img/modal/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #2196f3;
  background-origin: border-box;
  border: none;
}

.policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.174;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1600px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
  }
}

.logo-dark {
  color: #000000;
}

.logo-light {
  color: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  margin-left: 93px;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link.active {
  position: relative;
  color: #2196f3;
}

.navigation__link.active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #2196f3;
  border-radius: 2px;
}

.navigation__link {
  display: block;
  padding: 32px 0;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list__icon {
  margin-right: 10px;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__link {
  display: block;
  padding: 32px 0;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link {
  display: flex;
  align-items: center;
  color: #757575;
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}

.contacts-list__link > svg {
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover svg,
.contacts-list__link:focus svg {
  fill: #2196f3;
}

.hero {
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 118px 0;
}

.hero__link {
  margin-top: 30px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.hero__title {
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 320px) {
  .hero {
    width: 480px;
  }
  .hero__title {
    width: 360px;
    font-size: 26px;
    line-height: 1.615;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    height: 600px;
    padding: 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-desktop.jpg");
  }
  .hero__title {
    width: 700px;
    font-size: 44px;
    line-height: 1.364;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-desktop@2x.jpg");
  }
}

.features {
  padding: 60px 0;
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}

.features-list__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.features-list__items {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

.features-list__items::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .features-list__items {
    width: 450px;
  }
  .features-list__items:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .features-list__items {
    width: 354px;
    margin-bottom: 30px;
  }
  .features-list__items:nth-last-of-type(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .features-list__items {
    width: 270px;
  }
}

.attention::before {
  background-image: url(../img/features/antenna.svg);
  background-position: center;
}

.punctuality::before {
  background-image: url(../img/features/clock.svg);
  background-position: center;
}

.planning::before {
  background-image: url(../img/features/diagram.svg);
  background-position: center;
}

.technology::before {
  background-image: url(../img/features/astronaut.svg);
  background-position: center;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .about {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
  }
  .about-list__item + .about-list__item {
    margin-left: 30px;
  }
  .about-list__img {
    position: relative;
  }
  .about-list__text {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
  }
  .about-list__desc {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.team {
  background-color: #f5f4fa;
}

.team .container {
  padding: 0 15px;
}

.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.team-list__img {
  display: block;
  width: 450px;
  /* margin-bottom: 30px; */
}

.team-list__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.186;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1876;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-list__description {
  padding: 30px 10px;
  text-align: center;
}

.team-list__item {
  display: block;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team {
    min-width: 480px;
  }
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .team-list:nth-last-of-type(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-list .team-list__item {
    margin-bottom: 30px;
  }
  .team-list .team-list__item:nth-child(even) {
    margin-left: 30px;
  }
  .team-list__img {
    display: block;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
  }
  .team-list__item + .team-list__item {
    margin-left: 30px;
  }
  .team-list__item {
    margin-bottom: 30px;
  }
  .team-list__img {
    display: block;
    width: 270px;
    /* margin-bottom: 30px; */
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.social-list__link {
  display: flex;
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* fill: var(--main-icon-color); */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link > svg {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  /* fill: var(--main-white-color); */
}

.social-list__link:hover svg,
.social-list__link:focus svg {
  fill: #ffffff;
}

.clients-list {
  display: flex;
}

.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover, .client-list__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.client-list__logo {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover .client-list__logo,
.client-list__link:focus .client-list__logo {
  border-color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients .container {
    width: 480px;
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .client-list__item:nth-child(odd) {
    margin-right: 30px;
  }
  .client-list__item {
    margin-bottom: 30px;
  }
  .client-list__item:nth-last-of-type(-n + 2) {
    margin-bottom: 0px;
  }
  .client-list__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .client-list__link {
    width: 226px;
  }
  .client-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .client-list__item:nth-child(3n) {
    margin-right: 0px;
  }
  .client-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    width: 768px;
    margin: 0 auto;
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    width: 1200px;
    margin: 0 auto;
  }
  .client-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .client-list__link {
    width: 170px;
  }
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.container .footer {
  margin: 0 auto;
}

.footer-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background: #2196f3;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-subscribe {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.footer-subscribe__form {
  display: flex;
}

.footer-subscribe__input-email {
  height: 50px;
  color: #f5f4fa;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 16px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline-style: inherit;
}

.footer-subscribe__input-email:hover, .footer-subscribe__input-email:focus {
  border-color: #2196f3;
}

.footer-subscribe__submit-email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.footer-subscribe__submit-email svg {
  fill: #ffffff;
  margin-left: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    text-align: center;
    min-width: 480px;
  }
  .footer .container {
    width: 480px;
  }
  .footer-social {
    margin-top: 60px;
    width: 206px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-subscribe {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-subscribe__form {
    flex-direction: column;
  }
  .footer-subscribe__input-email {
    width: 450px;
  }
  .footer-subscribe__submit-email {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    width: 768px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .footer-subscribe__form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-subscribe {
    text-align: center;
  }
  .footer-subscribe__input-email {
    width: 500px;
  }
  .footer-subscribe__submit-email {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    width: 1200px;
    display: flex;
    align-items: baseline;
  }
  .footer-social {
    margin: 0 0 0 70px;
  }
  .footer-social__item:not(:last-child) {
    margin-right: 10px;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .footer-subscribe {
    margin-left: 93px;
    margin-top: 0;
  }
  .footer-subscribe__form {
    display: flex;
  }
  .footer-subscribe__input-email {
    width: 358px;
  }
  .footer-subscribe__submit-email {
    margin-left: 12px;
  }
}

.address {
  margin-top: 20px;
}

.address-list__map, .address-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover, .address-list__link:focus, .address-list__map:hover, .address-list__map:focus {
  color: #2196f3;
}

.address-list__item + .address-list__item {
  margin-top: 9px;
}

.address-list__link {
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=main.css.map */