.container {
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 480px;

    .clients & {
      padding: 60px 15px;
      width: 100%;
      margin: 0 auto;
    }
    .footer & {
      padding: 0 15px;
    }
  }
  .team {
    padding: 60px 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    .team & {
      width: 768px;
    }

    .features & {
      width: 768px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;

    .hero & {
      padding-top: 200px;
      padding-bottom: 200px;
      text-align: center;
    }

    .about & {
      padding-bottom: 94px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .team & {
      padding: 94px 15px;
      width: 1200px;
    }

    .features & {
      width: 1200px;
    }

    .clients & {
      padding: 94px 15px;
    }
  }
}

// .container {
// width: 1200px;
// padding: 0 15px;
// margin-left: auto;
// margin-right: auto;

// header & {
// display: flex;
// align-items: center;
// }
// .hero & {
// padding: 200px 0;
// text-align: center;
// }
// .about & {
// padding-bottom: 94px;
// }
// .team & {
// padding: 94px 0;
// }
// .clients & {
// padding: 0 15px;
// }
// .footer & {
// display: flex;
// padding: 60px 0;
// align-items: baseline;
// }
// };
