$main-font: "Roboto", sans-serif;
$accent-color: #2196f3;
$main-text-color: #757575;
$main-title-color: #212121;
$main-black-color: #000000;
$main-white-color: #ffffff;
$bgc-hero: #c4c4c4;
$bgc-footer: #2f303a;
$bgc-team-btn: #f5f4fa;
$main-icon-color: #afb1b8;
